.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 5px;
    gap: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    
  }
  @media(max-width:768px){
    .card-container{
        grid-template-columns: 1fr;
    }
  }