.card{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    background-color: rgb(19, 19, 19);
    padding: 20px;
    text-align: center;
    align-items: center;
    max-width: 200px;
    display: flex;
    color: white;

}
.card-image {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
    margin-bottom: 10px;
    
}
.card:hover{

    box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.1);
    transform: scale(1.2);

     
}
@media (max-width: 768px) {
    .card{
        max-width: 100%;
    }
}