.card{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    background-color: rgb(19, 19, 19);
    padding: 20px;
    text-align: center;
    align-items: center;
    max-width: 200px;
    display: flex;
    color: white;

}
.card-image {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
    margin-bottom: 10px;
    
}
.card:hover{

    box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.1);
    transform: scale(1.2);

     
}
.submit-button {
    background-color: #333; 
    color: #eee; 
    margin: 1rem;
    padding: 5px 20px;
    border: 1px solid #555; 
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  

@media (max-width: 768px) {
    .card{
        max-width: 100%;
    }
}